* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Pacifico";
  color: #999999;
}

h2 {
  font-family: "Pacifico";
  color: #999999;
}

p {
  font-family: "Open Sans";
  color: #4a4a4a;
}

body {
  background-color: #9bbe24;
}
body .header-pattern {
  background-color: white;
}

#container-home-page {
  display: block;
}

#container-main-page {
  display: block;
}

#container-home-page-hide {
  display: none;
}

#container-main-page-hide {
  display: none;
}

img {
  width: 120px;
}
